<% provide(:title, "About") %>
<div class="center jumbotron aboutDiv">
  <h1 class="about_header">
    About EZ-Rater Pro
  </h1><br/>
  <br/>
  <p class="about_paragraph">
    <i>This software is property of B1-Technologies. </i><br/>
    <br/>
    This is an online EZ-Rating software that will allow insruance agencies to easily pull quotes from
    multiple insurance agencies and select the best priced quote. <br/>
    <br/>
    <strong>How Does This Work?</strong><br/>
    Easy! The first thing you must do is register for an account. Once your account is setup and you have
    access, you simply click on "New Contract" and fill out the application for your new client.
    Once you filled out all of the important data, then you will be able to see a list of quotes from various
    insurance companies. Select the one you desire most, and it will take you to their website to finish
    binding the contract. Once that is completed, then you can see a list of quotes you have generated in
    your dashboard so you can easily go back and retrieve the information from a previous quote.<br/>
    <br/>
    <strong>How Do I Register?</strong><br/>
    To register for an account, you will need the following information;<br/>
    <i>* Insurance Agency Name</i><br/>
    <i>* Insurance Agency Code</i><br/>
    <i>* Email Address</i><br/>
    <i>* Username</i><br/>
    <i>* Password</i><br/>
    <i>* First Name</i><br/>
    <i>* Last Name</i><br/>
    <u><b>Please Note:</b> The "Insurance Agency Code" is provided by EZ-Rator Pro upon their successfull subscription of our services.</u><br/>
    <br/>
    <strong>How Long Is The Trail Period?</strong><br/>
    EZ-Rater Pro give every Insurance Agency &amp; Underwriting Agency a gracious 30-Day test run. After that, you will be charged accordingly.
    We give such a generious trial period as we want each agency to be able to fully test out the software to their needs &amp; desires before
    making such a massive commitment to our software. <br/>
    During your trial period, we also highly encourage users to give feed back on the platform and provide any suggestions they may have
    to help improve our system for not just them, but for others as well!<br/>
    <br/>
    <strong>How Much Does This Cost?</strong><br/>
    Here at EZ-Rater Pro, powered by <i><b>B1-Technologies</b></i>, has the lowest overhead costs possible
    for this type of organization. While we write the code, host the applications, and delivery outstanding
    services for everyone to enjoy, we have an extremely low overhead cost. This means our savings is passed
    on to you. So what will this cost you? An amazing <strong>$1,500 Per Month</strong> to obtain unlimited quotes from our system!<br/>
    <br/>
    <strong>What Technologies Do We Use?</strong><br/>
    Our talented and amazing developer has setup everything to run smoothly and efficeintly to provide your firm with the easist
    and fastest response time possible! How does he make all of this possible?<br/>
    <i>He utilizes the following methods;</i><br/>
    <b>Ruby on Rails Framework</b><br/>
    <b>Cloud Hosting Services</b><br/>
    <b>Custom Built Firewall Rules</b><br/>
    <b>24/7-365 Monitoring</b><br/>
    <b>SSH Keys ~ TO allow ONLY him to get access to the servers!</b><br/>
    <b>Latest SQL Databases</b><br/>
    Discover how fast and amazing EZ-Rater Pro can be for your company and start saving money today!<br/>
  </p>
</div>
