<% provide(:title, "Contact") %>
<div class="center jumbotron aboutDiv">
  <h1 class="about_header">
    Contact EZ-Rater Pro
  </h1><br/>
  <br/>
  <p class="about_paragraph">
    If you would like to contact EZ-Rater Pro, we would love to hear from you! Please use any of the following methods
    to contact us in regards of your issues with our software;<br/>
    For inquiries about using the software, questions about pricing &amp; contracts, and general information, please email us at;<br/>
    info@ezraterpro.com<br/>
    Or call us at;<br/>
    +1 (817) 555-0505<br/>
    For inquires about new services for the software, issues with login, and other general tech questions or issues, please email us at;<br/>
    tech@ezraterpro.com<br/>
    Or call us at;<br/>
    +1 (817) 555-0506<br/>
  </p>
</div>
