<% provide(:title, "Help") %>
<div class="center jumbotron helpDiv">
  <h1 class="about_header">
    Help With EZ-Rater Pro
  </h1><br/>
  <br/>
  <p class="about_paragraph">
    This page will allow you to discover how you can work through this web application and
    get your firm registered in no time at all!<br/>
    <br/>
    <strong>How To Register My Firm?</strong><br/>
    In order to register your firm, you can easily send us an email, or give us a call. Once
    we have successfully setup your firm in our database, you are given a special "Access Code"
    that you can give your associates in order to allow them to register for an account.<br/>
    <br/>
    <strong>How To Register A New Account?</strong><br/>
    When your firm registers with EZ-Rater Pro, they are given a special Access Code that you will
    need in order to finish your registration with this website. Once you have the Access Code, you
    will then need to fill out the "Registration" form and will require the following;<br/>
    Email<br/>
    Password<br/>
    Username<br/>
    Access Code<br/>
    First Name<br/>
    Last Name<br/>
    Once you have those setup, then you will be redirected to your new account and can start pulling quotes
    as soon as you get in!<br/>
    <br/>
    <strong>How To Get Quotes?</strong><br/>
    Our easy-to-follow insurance quote form allows you to input the desired variables for your clients needs.
    After you have inserted all of the standard information in our form, we will parse our form through various
    API Keys in order to generate multiple quotes for your client. Once you have the quotes back, you simply
    select the desired insurance company and you will be able to generate a DOC file that you can download and
    you will be able to go to the respective insurance website to finish binding your contract!<br/>
    <br/>
    <strong>What Happens If We Don't Pay?</strong><br/>
    Failure to pay will result in loss of access to your firm, and your associates. Which will disrupt their
    work time and will have to do things another way. But do not fear, we do not delete any of your data for
    no-pay accounts. You will be able to recover your access again upon successful payment to keep using our
    software. <br/>
    <br/>
    <strong>Do I need to sign a contract?</strong><br/>
    While we do have contracts in place you can sign up for, we can also handle month-to-month basis. Much
    like a prepaid phone line, you only pay for the month ahead of you! Our plans include;<br/>
    Month-To-Month <br/>
    3-Month Contract <br/>
    6-Month Contract <br/>
    9-Month Contract <br/>
    1-Year Contract <br/>
    With a contract signing, we do require a payment for the full term up front before you can get access to the website.
    This helps reduce possible cancelation, and ensures that you have services with EZ-Rater Pro for the duration
    of that contract lenth.<br/>

  </p>
</div>
